@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura PT",  'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
  background-color: #F9F8F8;
  background-image: url(/images/bacround.png);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  vertical-align: middle;
}

hr {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__top {
  background-color: #F9F8F8;
}

.address__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  position: relative;
  z-index: 1;
}

.address__link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  top: 1px;
  left: -22px;
  background-size: contain;
  z-index: 2;
}

.top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 12px 0;
}

.top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__item:nth-child(1) {
  margin-right: 106px;
}

.top__item:nth-child(2) {
  margin-right: 98px;
}

.top__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-right: 22px;
  position: relative;
}

.top__link:hover {
  color: #FFBD54;
}

.top__link:active {
  color: #333333;
  opacity: 0.6;
}

.top__link::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-image: url(../images/dot.svg);
  top: 7px;
  left: -12px;
  position: absolute;
}

.top__link:nth-child(1)::before {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/phone.svg);
  top: 2px;
  left: -20px;
  position: absolute;
}

.top__time {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.top__time:nth-child(1) {
  margin-right: 17px;
  position: relative;
  z-index: 1;
}

.top__time:nth-child(1)::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../../images/data.svg);
  top: 2px;
  left: -20px;
  position: absolute;
  z-index: 2;
}

.header__bottom {
  background-color: #FFFFFF;
}

.bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.bottom__left {
  margin-left: auto;
}

.site-header__img {
  display: block;
  position: absolute;
  z-index: 2;
  top: -18px;
  left: 8px;
}

.site-header__img:hover {
  opacity: 0.8;
}

.site-header__img:active {
  opacity: 0.6;
}

.bottom__nav {
  margin-right: 195px;
}

.bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__item {
  margin-right: 55px;
}

.bottom__item:nth-child(1) {
  position: relative;
  z-index: 1;
}

.bottom__item:nth-child(1)::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/fish.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 4px;
  left: -22px;
  position: absolute;
  z-index: 2;
}

.bottom__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.bottom__link:hover {
  border-bottom: 3px solid yellow;
}

.bottom__link:active {
  border-bottom: 3px solid yellow;
  opacity: 0.6;
}

.right__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.bottom__right {
  position: relative;
  z-index: 1;
}

.bottom__right::before {
  content: "";
  width: 23px;
  height: 20px;
  background-image: url(../images/pet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1px;
  left: -24px;
  position: absolute;
  z-index: 2;
}

.hero {
  height: 815px;
  background-image: url(../images/animals.png), url(../images/bord.png);
  background-position: calc(50% - 480px) calc(50% - 80px), calc(50% + 694px) calc(110%);
  background-repeat: no-repeat;
}

.hero__info {
  width: 100%;
  max-width: 608px;
  margin-left: auto;
  padding-top: 150px;
}

.hero__title {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 30px;
}

.title__color {
  color: #78C0DE;
}

.hero__wrapper {
  width: 100%;
  max-width: 495px;
}

.hero__text {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 55px;
}

.hero__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 48px;
  background-color: #333333;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__link:hover {
  color: #333333;
  background-color: #FFBD54;
}

.hero__link:active {
  color: #333333;
  background-color: #FFBD54;
  opacity: 0.6;
}

.blockquota {
  margin-bottom: 190px;
}

.blockquota__info {
  width: 100%;
  max-width: 753px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.blockquota__info::before {
  content: "";
  width: 47px;
  height: 40px;
  background-image: url(../images/two.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: -25px;
  left: -100px;
  position: absolute;
  z-index: 2;
}

.blockquota__info::after {
  content: "";
  width: 47px;
  height: 40px;
  background-image: url(../../images/one.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 35px;
  right: -110px;
  position: absolute;
  z-index: 2;
}

.blockquota__text {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  margin: 0;
  margin-top: 40px;
  position: relative;
}

.blockquota__text::before {
  content: "";
  width: 100%;
  max-width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  top: -40px;
  left: 290px;
  position: absolute;
  z-index: 2;
}

.blockquota__text::after {
  content: "";
  width: 100%;
  max-width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  bottom: -40px;
  left: 290px;
  position: absolute;
  z-index: 2;
}

.blockquota__and {
  display: block;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin-top: 60px;
}

.services {
  margin-bottom: 235px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  width: 100%;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}

.our-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.our-services__list::before {
  content: "";
  width: 14px;
  height: 25px;
  background-image: url(../images/left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 100px;
  left: -35px;
  position: absolute;
  z-index: 3;
}

.our-services__list::after {
  content: "";
  width: 14px;
  height: 25px;
  background-image: url(../../images/right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 100px;
  right: -35px;
  position: absolute;
  z-index: 2;
}

.our-services__item {
  width: 100%;
  max-width: 193px;
  background-color: #FFFFFF;
  padding: 129px 32px 42px 35px;
  text-align: center;
  margin-right: 13px;
  margin-bottom: 14px;
  border-radius: 5px;
}

.our-services__item:hover {
  opacity: 0.8;
}

.our-services__item:active {
  opacity: 0.6;
}

.our-services__item:nth-child(1) {
  margin: 0;
  margin-right: 13px;
  padding-bottom: 59px;
}

.our-services__item:nth-child(6) {
  margin: 0;
  margin-bottom: 14px;
}

.our-services__item:nth-child(4), .our-services__item:nth-child(6) {
  padding: 149px 32px 45px 35px;
}

.our-services__link {
  position: relative;
  z-index: 1;
}

.our-services__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 54px;
  height: 77px;
  background-image: url(../images/doctor.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -20px;
}

.medic__link {
  position: relative;
  z-index: 1;
}

.medic__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 61px;
  height: 76px;
  background-image: url(../../images/girl.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -30px;
}

.littl__link {
  position: relative;
  z-index: 1;
}

.littl__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 72px;
  height: 77px;
  background-image: url(../images/ildog.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -35px;
}

.click__link {
  position: relative;
  z-index: 1;
}

.click__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 75px;
  height: 75px;
  background-image: url(../../images/dog.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -40px;
}

.lupa__link {
  position: relative;
  z-index: 1;
}

.lupa__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 78px;
  height: 78px;
  background-image: url(../images/lupa.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -40px;
}

.plas__link {
  position: relative;
  z-index: 1;
}

.plas__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 75px;
  height: 75px;
  background-image: url(../../images/plasdog.svg);
  background-repeat: no-repeat;
  bottom: 25px;
  left: -40px;
}

.our-services__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin: 0;
}

.services__bottom {
  width: 100%;
  max-width: 1195px;
  background-color: #FFFFFF;
  padding: 42px 35px;
}

.inspection__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspection__left {
  margin-right: 67px;
}

.inspection__right {
  width: 100%;
  max-width: 492px;
}

.about-diagnosis__title {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  margin-bottom: 18px;
}

.about-diagnosis__text {
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 9px;
}

.about-diagnosis__text:nth-child(odd) {
  margin-bottom: 50px;
}

.about-diagnosis__price {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 36px 15px 63px;
  background-color: #FFBD54;
  border-radius: 3px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-diagnosis__price::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  background-image: url(../images/money.svg);
  background-repeat: no-repeat;
  top: 15px;
  left: 30px;
}

.about-diagnosis__price:hover {
  color: #FFBD54;
  background-color: #333333;
}

.about-diagnosis__price:active {
  color: #FFBD54;
  background-color: #333333;
  opacity: 0.6;
}

.about-diagnosis__enrol {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 37px 15px 64px;
  background-color: #333333;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-diagnosis__enrol::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  background-image: url(../images/blenk.svg);
  background-repeat: no-repeat;
  top: 15px;
  left: 30px;
}

.about-diagnosis__enrol:hover {
  color: #333333;
  background-color: #FFBD54;
}

.about-diagnosis__enrol:active {
  color: #333333;
  background-color: #FFBD54;
  opacity: 0.6;
}

.events {
  height: 480px;
  background-image: url(../../images/dogdog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
  position: relative;
  z-index: 1;
}

.events__info {
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 310px;
}

.events__title {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.events__input {
  padding: 18px 147px 18px 22px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

.events__input:focus {
  outline: none;
  border: 1px solid  #FFBD54;
}

.events__input::-webkit-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  outline: none;
}

.events__input:-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  outline: none;
}

.events__input::-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  outline: none;
}

.events__input::placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  outline: none;
}

.events__button {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 52px;
  background-color: #333333;
  border-radius: 3px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.events__button:hover {
  color: #333333;
  background-color: #FFBD54;
}

.events__button:active {
  color: #333333;
  background-color: #FFBD54;
  opacity: 0.6;
}

.useful-artticles {
  margin-bottom: 260px;
}

.articles__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  display: block;
  text-align: center;
  margin-bottom: 80px;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.useful__item {
  width: 100%;
  max-width: 305px;
  background-color: #FEFEFE;
}

.useful__item:nth-child(2) {
  margin-right: 25px;
  margin-left: 25px;
}

.useful__img {
  margin-bottom: 21px;
}

.useful__info {
  padding-right: 22px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.useful__time {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  display: block;
  text-align: end;
}

.useful__title {
  width: 100%;
  max-width: 182px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.useful__text {
  width: 100%;
  max-width: 244px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 47px;
}

.useful__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 15px;
  position: relative;
  z-index: 1;
}

.useful__link::before {
  content: "";
  width: 23px;
  height: 20px;
  background-image: url(../images/pet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1px;
  left: -24px;
  position: absolute;
  z-index: 2;
}

.useful__link:hover {
  color: #FFBD54;
}

.useful__link:focus {
  color: rgba(51, 51, 51, 0.7);
}

.useful-info {
  width: 100%;
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.storis__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.storis__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.useful-info__storis {
  width: 100%;
  padding: 42px 34px 37px 31px;
}

.storis__item {
  margin-right: 7px;
}

.storis__item:nth-child(3) {
  margin-right: 50px;
}

.storis__title {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 15px;
}

.storis__text {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 36px;
}

.connection {
  margin-bottom: 240px;
}

.connection__inner {
  background-image: url(../images/Feedback.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__left {
  margin-right: 166px;
}

.connection__img {
  display: block;
}

.connection__right {
  width: 100%;
  max-width: 375px;
  margin-top: 50px;
}

.form__title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin: 0;
  margin-bottom: 14px;
  color: #FFFFFF;
}

.form__text {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  margin-bottom: 29px;
}

.form__input {
  width: 100%;
  max-width: 375px;
  padding: 16px 30px 13px 22px;
  margin-bottom: 14px;
}

.form__input:focus {
  outline: none;
  border: 1px solid  #FFBD54;
}

.form__input::-webkit-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.form__input:-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.form__input::-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.form__input::placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.form__texterea {
  width: 100%;
  max-width: 375px;
  padding: 17px 22px 20px 22px;
  margin-bottom: 30px;
}

.form__texterea:focus {
  outline: none;
  border: 1px solid  #FFBD54;
}

.form__texterea::-webkit-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #DBDBDB;
}

.form__texterea:-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #DBDBDB;
}

.form__texterea::-ms-input-placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #DBDBDB;
}

.form__texterea::placeholder {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #DBDBDB;
}

.form__info {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.form__button {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 50px;
  background-color: #FFBD54;
  border: none;
  border-radius: 3px;
}

.form__button:hover {
  color: #FFFFFF;
  opacity: 0.8;
}

.form__button:active {
  color: #FFFFFF;
  opacity: 0.6;
}

.footer {
  background-color: #F3F3F3;
  padding: 65px 0 23px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.footer__left {
  margin-right: 67px;
}

.logo__img:hover {
  opacity: 0.8;
}

.logo__img:active {
  opacity: 0.6;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-right: 85px;
}

.menu__item {
  margin-bottom: 14px;
}

.menu__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.menu__link:hover {
  color: #FFBD54;
}

.menu__link:focus {
  color: rgba(51, 51, 51, 0.7);
}

.location__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__item {
  margin-right: 90px;
}

.clock__list {
  position: relative;
  z-index: 1;
}

.clock__list::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../../images/data.svg);
  top: 2px;
  left: -20px;
  position: absolute;
  z-index: 2;
}

.clock__item {
  margin-bottom: 5px;
}

.clock__time {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.location__item:nth-child(2) {
  position: relative;
  z-index: 1;
  margin-right: 80px;
}

.location__item:nth-child(2)::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  top: 1px;
  left: -22px;
  background-size: contain;
  z-index: 2;
}

.location__item:nth-child(3) {
  margin: 0;
}

.home__address {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 5px;
}

.phone__list {
  position: relative;
}

.phone__list::before {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/phone.svg);
  top: 2px;
  left: -20px;
  position: absolute;
}

.phone__item {
  margin-bottom: 4px;
}

.phone__link {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}

.phone__link:hover {
  color: #FFBD54;
}

.phone__link:focus {
  color: rgba(51, 51, 51, 0.7);
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}
/*# sourceMappingURL=main.css.map */